@charset "utf-8";

/* 全域樣式 */
.ui-page {
  background-image: url('pic.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* 頁首樣式 */
[data-role="header"] {
  flex: 0 0 auto; /* 固定在頂部 */
  text-align: center; /* 文字置中 */
  background-color: transparent; /* 透明背景 */
}

[data-role="header"] h1 {
  margin: 0; /* 去除標題的預設邊距 */
  font-size: 50px; /* 調整字型大小為36px */
  color: #000000; /* 修改字型顏色為黑色 */
}

/* 內容樣式 */
[data-role="content"] {
  flex: 1 1 auto; /* 自動佔據剩餘空間 */
  overflow-y: auto; /* 添加縱向滾動條 */
}

.cover-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cover-content h2 {
  font-size: 24px;
}

/* 頁腳樣式 */
[data-role="footer"] {
  flex: 0 0 auto; /* 固定在底部 */
  text-align: center; /* 文字置中 */
  background-color: transparent; /* 透明背景 */
}

/* 修改頁腳文字樣式 */
[data-role="footer"] h4 {
  margin: 0; /* 去除文字的預設邊距 */
  font-size: 14px;
}

/* 連結按鈕樣式 */
.ui-btn.ui-corner-all.ui-shadow {
  width: 200px;
}
